/**/.*
/**/.*/
!/.gitignore
main.sh
main.yml
goldenimage_script.sh
manifest.json
goldenimage_result.json
requirements-test.yml
goldenimage_postprocess-test.sh
goldenimage_script-test.sh
update_ami-test.sh
